@mixin text($color, $fs, $fw) {
  color: $color;
  font-size: $fs;
  font-weight: $fw;
}
@mixin heading-title {
  margin-bottom: 100px;
  text-align: center;
  width: 100%;
}
@mixin h3-text {
  margin-bottom: 0;
  letter-spacing: 2px;
  font-weight: normal;
  text-transform: uppercase;
  font-size: $fs-2;
}
@mixin p-text {
  padding-top: 30px;
  display: inline-block;
  width: 70%;
  margin: 0 auto;
  color: #7e7e7e;
  line-height: 25px;
}

@mixin extra-small {
  @media (max-width: 575px) {
    @content;
  }
}
@mixin small {
  @media (min-width: 576px) and (max-width: 767px) {
    @content;
  }
}
@mixin medium {
  @media (min-width: 768px) and (max-width: 991px) {
    @content;
  }
}
@mixin large {
  @media (min-width: 992px) and (max-width: 1199px) {
    @content;
  }
}
@mixin extra-large {
  @media (min-width: 1200px) {
    @content;
  }
}
