$color-base-0: #d6b161;
$color-base-1: #333;
$color-base-2: #7e7e7e;
$color-base-3: #bbb;

$fs-0: 15px;
$fs-1: 20px;
$fs-2: 25px;
$fs-3: 30px;
$fs-4: 35px;
$fs-5: 40px;

$fw-normal: normal;
$fw-bold: bold;
$fw-bolder: bolder;
